<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Base SpringBoot</title>
    <!-- App css -->
    <link th:href="@{/assets/css/bootstrap-material.min.css}" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link th:href="@{/assets/css/app-material.min.css}" rel="stylesheet" type="text/css" id="app-default-stylesheet"/>
    <link th:href="@{/assets/css/bootstrap-material-dark.min.css}" rel="stylesheet" type="text/css"
          id="bs-dark-stylesheet"/>
    <link th:href="@{/assets/css/app-material-dark.min.css}" rel="stylesheet" type="text/css" id="app-dark-stylesheet"/>
    <!-- icons -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/assets/js/jquery.min.js}"></script>

</head>
<body class="loading">
<div layout:fragment="content"></div>

<footer class="footer footer-alt">
    <script>document.write(new Date().getFullYear())</script> &copy; Base SpringBoot by <a href=""
                                                                                     class="text-dark">KhaiBQ</a>
</footer>
<!-- Vendor js -->
<script th:src="@{/assets/js/vendor.min.js}"></script>
<!-- App js -->
<script th:src="@{/assets/js/app.min.js}"></script>
</body>
</html>