<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đặt lại mật khẩu</title>
</head>
<body>
<div style="margin-bottom: 14px;">Xin chào, </div>
<div style="margin-bottom: 14px;">Bạn vừa yêu cầu đặt lại mật khẩu tại <a href="http://khaibq.net">KhaiBQ.net</a>. </div>
<div style="margin-bottom: 14px;">Vui lòng nhấn vào link sau hoặc copy và dán vào trình duyệt để đặt lại mật khẩu</div>
<div style="margin-bottom: 14px;"><a th:href="${link}">[[${link}]]</a></div>
<div style="margin-bottom: 14px;">Trân trọng</div>
</body>
</html>