<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/auth-layout}">
<head>
    <title>Quên mật khẩu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <div class="auth-logo">
                                    <a href="/static" class="logo logo-dark text-center">
                                            <span class="logo-lg">
                                                <img th:src="@{/assets/images/logo-dark.png}" alt="" height="22">
                                            </span>
                                    </a>

                                    <a href="/static" class="logo logo-light text-center">
                                            <span class="logo-lg">
                                                <img th:src="@{/assets/images/logo-light.png}" alt="" height="22">
                                            </span>
                                    </a>
                                </div>
                                <p class="text-muted mb-4 mt-3">Nhập mật khẩu mới cho tài khoản của bạn</p>
                            </div>
                            <div class="mt-4 alert alert-danger"  th:if="${error != null}" th:text="${error}"></div>
                            <div class="mt-4 alert alert-success"  th:if="${alert != null}" th:text="${alert}"></div>
                            <form method="post" th:object="${changePwDto}">
                                <div class="form-group mb-3">
                                    <label for="password">Mật khẩu mới</label>
                                    <input class="form-control" type="password" id="password" required
                                           placeholder="******" th:field="*{password}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="confirmPassword">Xác nhận mật khẩu mới</label>
                                    <input class="form-control" type="password" id="confirmPassword" required
                                           placeholder="******" th:field="*{confirmPassword}">
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary btn-block" type="submit"> Thay đổi mật khẩu</button>
                                </div>

                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Back to
                                <a th:href="@{/auth/login}"
                                   class="text-primary font-weight-medium ml-1">Sign In</a>
                            </p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
</div>
</body>
</html>